/* Body which defines the background image */
body {
  background-image: url('/assets/background-image.jpeg');
  background-repeat: repeat;
  background-size: contain;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

/* Faithful Scholars Logo */
.logoimg {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

/* Navigation Menu */
.menu {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.menu a {
  text-decoration: none;
  color: #000000;
  margin-left: 10px;
}

.menu a:hover {
  text-decoration: none;
  color: #000000;
  border-bottom: 2px solid grey;
}

/* Outer most boostrap row which contains
   the nav, content, and footer */
.outer-row {
  margin-top: 75px;
  background-color: #FFFFFF;
  width: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-width:1000px) {
  .outer-row {
    width: 100%;
    margin: 0px
  }
}

/* Title of the page */
.pageTitle {
  text-align: center;
  margin-bottom: 50px;
}

/* Dashboard circle buttons */
.circle {
  width: 220px;
  height: 220px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
  background-color: #70815e;
  border-radius: 50%;
  behavior: url(PIE.htc); /* For IE support */
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 220px;
  margin-left: auto;
  margin-right: auto;
}

.btn-group {
  background-repeat: no-repeat;
  background-size:contain;
  width: 100%;
  height: 400px;
  padding-top: 40px;
  /* padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 175px;
  padding-top: 75px; */
}
/* Documents section of the dashboard */
.documents {
  background-image: url('/assets/document-background.png');
}
/* Documents section of the dashboard */
.endofyear {
  background-image: url('/assets/end-year-background.png');
}
/* Documents section of the dashboard */
.transcripts {
  background-image: url('/assets/transcript-background.png');
}

/* Admin Dashboard */
.admin-search {
  width: 100%;
}

/* General Use Classes*/
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.undecorated:hover{
  text-decoration: none;
}
